body{
    padding-bottom: 15px;
    border: 5px solid black;
    margin-right: 970px;
}
header{
    font-size: 9px;
    border-bottom: 5px solid black;
    padding-left: 10px;
}
main img{

    padding: 10px;
    padding-left: 180px;
}
main h2 {
    padding-left: 350px;
}
main h3 {
    padding-left: 310px;
}
main button {
    margin-left: 220px;
}