<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log in</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    <header>

        <h1>SPExpress</h1>

    </header>
    <main>
        <h2>Molim vas, unesite svoje korisničko ime i šifru da biste se prijavili (log in) na svoj nalog!</h2>
        <div class="box">
            <ul>
                <li><input type="text" name="nickname" placeholder="Korisnicko ime"></li>
                <li><input type="text" name="password" placeholder="Sifra"></li>
                <li><button type="submit">Log in</button></li>
            </ul>
        </div>
        <img src="static/SPExpress.png">
    </main>
</body>
</html>