<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registruj se</title>
</head>
<body>
    <header>

        <h1>SPExpress</h1>

    </header>
    <main>
        <h1>Registracija korsinika</h1>

        <input  type="text" name="first"placeholder="Ime">
        <input type="text" name="last" placeholder="Prezime">
        <input type="text" name="nick_name" placeholder="Korisnicko ime">
        <input type="text" name="password" placeholder="Sifra">
        <input type="number" name="phone_number" placeholder="Br Tel">
        <input type="text" name="city" placeholder="Grad">
        <input type="number" name="post" placeholder="Postanski br">
    </main>
</body>
</html>